:root{
    /* colors */
    --main-color: #006633;
    --background: #FFFFF0;
    --background-dark: #333333;
    --background-light: #E3E3E3;
    --text-dark: #4F4F4F;
    --text-light: #BDBDBD;
    /* text */
    --logo: 'Charmonman', cursive;
    --title: 'Merriweather', serif;
    --body: 'Roboto', sans-serif;
    --logo-bold: 700;
    --h-light: 300;
    --h-regular: 400;
    --txt-light: 300;
    --txt-regultar: 400;
    --txt-black: 900;
}
body{
    background-color: var(--background);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e3e3e3' fill-opacity='0.5'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    font-family: var(--body);
    font-weight: var(--txt-regultar);
}
footer{
    background-color: var(--background-dark);
}
/* encabezados */
h1,
h2,
h3,
h4,
h5,
h6{
    font-family: var(--title);
    font-weight: var(--h-regular);
}
h1, .h-biggest{
    font-size: 36px;
    line-height: 46.8px;
}
h2, .h-bigger{
    font-size: 28px;
    line-height: 36.4px;
}
h3, .h-big{
    font-size: 20px;
    line-height: 26px;
}
h4, .h-normal{
    font-size: 16px;
    line-height: 20.8px;
}
h5, .h-small{
    font-size: 14px;
    line-height: 18.2px;
}
h6, .h-smaller{
    font-size: 13px;
    line-height: 16.9px;
}
.logo{
    font-family: var(--logo);
    font-weight: var(--logo-bold);
}
/* texto */
.biggest{
    font-family: 36px;
    line-height: 57.6px;
}
.bigger{
    font-family: 28px;
    line-height: 44.8px;
}
.big{
    font-family: 20px;
    line-height: 32px;
}
.normal{
    font-family: 16px;
    line-height: 25.6px;
}
.small{
    font-family: 12px;
    line-height: 18px;
}
.smaller{
    font-family: 8px;
    line-height: 12px;
}