:root{
    /* colors */
    --main-color: #006633;
    --main-bg: #FFFFF0;
    --bg-dark: #333333;
    --bg-light: #E3E3E3;
    --text-dark: #4F4F4F;
    --text-light: #BDBDBD;
    /* text */
    --logo-font: 'Charmonman', cursive;
    --title-font: 'Merriweather', serif;
    --body-font: 'Roboto', sans-serif;
    --logo-weight: 700;
    --h-light: 300;
    --h-regular: 400;
    --txt-light: 300;
    --txt-regular: 400;
    --txt-black: 900;
}
*{
    box-sizing: border-box;
}
body{
    background-color: var(--main-bg);
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23e3e3e3' fill-opacity='0.5'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    color: var(--text-dark);
    font-family: var(--body-font);
    font-weight: var(--txt-regultar);
    min-height: 100vh;
    padding-top: 30px;
}
/* encabezados */
h1, .t1,
h2, .t2,
h3, .t3,
h4, .t4,
h5, .t5,
h6, .t6{
    font-family: var(--title-font);
    font-weight: var(--h-regular);
    margin-block-start: 0;
    margin-block-end: 0;
}
h1, .h-biggest{
    font-size: 36px;
    line-height: 46px;
}
h2, .h-bigger{
    font-size: 28px;
    line-height: 36px;
}
h3, .h-big{
    font-size: 20px;
    line-height: 26px;
}
h4, .h-normal{
    font-size: 16px;
    line-height: 20px;
}
h5, .h-small{
    font-size: 13px;
    line-height: 16px;
}
h6, .h-smaller{
    font-size: 10px;
    line-height: 14px;
}
.logo{
    font-family: var(--logo-font);
    font-weight: var(--logo-weight);
}
/* texto */
.biggest{
    font-size: 36px;
    line-height: 56px;
}
.bigger{
    font-size: 28px;
    line-height: 42px;
}
.big{
    font-size: 20px;
    line-height: 30px;
}
.normal{
    font-size: 16px;
    line-height: 24px;
}
.small{
    font-size: 12px;
    line-height: 18px;
}
.smaller{
    font-size: 8px;
    line-height: 12px;
}
/* cards */
.card{
    background-color: #FFFFFF;
    border-radius: 5px;
    overflow: hidden;
}
.card__img{
    width: 100%;
}
.card--recommendations{
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
}
.card__img{
    display: block;
    height: 100%;
}
.card__body{
    padding: 5px 10px 10px;
}
.card__title{
    color: var(--main-color);
    margin-bottom: 10px;
}
.card__text{
    margin-bottom: 10px;
}
.card__price{
    background-color: var(--main-color);
    color: #FFFFFF;
    padding: 3px 0;
}
/* otros */
.container{
    width: 60%;
    margin: 0 auto;
}
.mb-20{
    margin-bottom: 20px;
}
.mb-30{
    margin-bottom: 30px;
}
.txt-center{
    text-align: center;
}
.flex{
    display: flex;
}
a{
    text-decoration: none;
    color: inherit;
}
p{
    margin-block-start: 0;
    margin-block-end: 0;
}
ul{
    list-style: none;
    padding-inline-start: 0;
    margin-block-start: 0;
    margin-block-end: 0;
}